# 577. Employee bonus
[Problem description](https://leetcode.com/problems/employee-bonus/description/)

In [10]:
%%html
<style>
table {float:left}
</style>

In [11]:
import sys
sys.version

'3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]'

In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]')\
    .appName('LeetCode-577-PySpark')\
    .getOrCreate()

In [3]:
# Data 
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
employee_schema = StructType([
    StructField('empId', IntegerType(), False),
    StructField('name', StringType(), False),
    StructField('supervisor', IntegerType(), True),
    StructField('salary', IntegerType(), False),
])
employee = spark.createDataFrame(
    [[3, 'Brad', None, 4000], [1, 'John', 3, 1000], [2, 'Dan', 3, 2000], [4, 'Thomas', 3, 4000]],
    schema=employee_schema)
employee.show()

+-----+------+----------+------+
|empId|  name|supervisor|salary|
+-----+------+----------+------+
|    3|  Brad|      NULL|  4000|
|    1|  John|         3|  1000|
|    2|   Dan|         3|  2000|
|    4|Thomas|         3|  4000|
+-----+------+----------+------+

In [47]:
bonus_schema = StructType([
    StructField('empId', IntegerType(), False),
    StructField('bonus', IntegerType(), False),
])
bonus = spark.createDataFrame([[2, 500], [4, 2000]], schema=bonus_schema)
bonus.show()

+-----+-----+
|empId|bonus|
+-----+-----+
|    2|  500|
|    4| 2000|
+-----+-----+

**Write a solution to report the name and bonus amount of each employee with a bonus less than 1000.**

| name | bonus |
|------|-------|
| Brad | null  |
| John | null  |
| Dan  | 500   |

In [50]:
# Solution
from pyspark.sql.functions import lit, col, when

df = employee.join(bonus, employee.empId == bonus.empId, how='left_outer')\
    .drop('empId', 'salary', 'supervisor')\
    .filter((col('bonus').isNull()) | (col('bonus') < 1000))\
    .show()

+----+-----+
|name|bonus|
+----+-----+
|Brad| NULL|
|John| NULL|
| Dan|  500|
+----+-----+